# Neon Postgres Connection String
DATABASE_URL=postgresql://neondb_owner:YOUR_PASSWORD@ep-nameless-poetry-b3nuq4kz-pooler.c-4.ap-southeast-1.aws.neon.tech/neondb?sslmode=require

# Razorpay Web Checkout Credentials
RAZORPAY_KEY_ID=rzp_test_YOUR_KEY_ID
RAZORPAY_KEY_SECRET=YOUR_KEY_SECRET
